<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<link th:rel="stylesheet" th:href="@{/css/style.css}"/>
<title>Foto</title>
</head>
<body>
	<div class="d-flex justify-content-center align-items-center vh-100">
		<a class="btn my-btn fs-1" th:href="@{/login}">LOGIN</a>
	</div>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>